/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}

form .succes {
    color: #090;
    font: normal 22px helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

form .erreur {
    color: #900;
    font: normal 22px helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

form .erreur-info{
    color: #900;
    font: normal 12px helvetica, sans-serif;
    font-weight: italic;
/*     padding-top: 10px; */
}

form .info {
    font-style: italic;
    color: #E8A22B;
}